body {
  background-color: #C5F1EE;
}

h1.jumbotron {
  background-color: pink;
  margin-top: 0;
}

#about {
  padding-left: 3vh;
  margin-top: .5vh;
  padding-bottom: 200vh;
  background-color: #A058FC;
}

.aboutHeaders {
  color: #ecc679;
}

.blackNames {
  color: Black;
}

#username {
  color: blue;
}

#numberList {
  color: blue;
  font-family: fantasy;
  margin-top: 5vh;
  font-size: large;
}

img {
  width: auto;;
  height: 3vh;
  margin-left: 1vh;
}
