body {
  background-color: #C5F1EE;
}

h1.jumbotron {
  background-color:Magenta ;
  margin-top: 0;
}
.row-test{
  display: flex;
}
.test{
  flex: 1;
}

#about {
  /* height: auto; */
  flex: 1;
  padding-left: 3vh;
  margin-top: .5vh;
  /* padding-bottom: 500vh; */
  background-color: #A058FC;
}

.aboutHeaders {
  color: #ecc679;
}

.blackNames {
  color: Black;
}

.whiteNames{
  color: White;
}

#username {
  color: C46B41;
}

#numberList {
  color: blue;
  font-family: Courier;
  margin-top: 5vh;
  font-size: large;
}

img {
  width: auto;;
  height: 3vh;
  margin-left: 1vh;
}
